{{ block title }}
Consentimiento informado
{{ endblock }}

{{ block content }}

<p>Bienvenido/a a un experimento sobre la toma de decisiones. Le agradecemos su participación.</p>

<p>
El experimento es sencillo. Por participar en la totalidad del experimento se le asignará un monto fijo de $XXX.
Además, puede ganar un monto de dinero que dependerá en parte de sus decisiones y en parte de las decisiones de los demás participantes
con los cuales va a interactuar. Por lo tanto, es importante que se tome su tiempo para comprender las instrucciones.
</p>

<p>
El monto ganado en el experimento se cargará en una Gift Card que podrá retirar posteriormente / se le enviará un código a su mail institucional,
según le indiquen los organizadores.
</p>

<p><strong>No está permitido hablar con otros participantes durante el experimento.</strong></p>

<p>
Si tiene alguna pregunta, levante la mano y un investigador se acercará a usted y le aclarará sus dudas en privado.
</p>

<p><strong>Consentimiento:</strong> marque la opción correspondiente para continuar.</p>

{{ formfields }}
{{ next_button }}

{{ endblock }}