{{ block title }}
Predicción 2
{{ endblock }}

{{ block content }}

<p>
    Considerando la situación descripta anteriormente
    (que puede consultar en el botón de ayuda),
    estime qué porcentaje de participantes B
    elegirá <strong>COMPARTIR</strong>
    en esta segunda fase.
</p>

<div class="opciones-prediccion">
    {{ form.creencia_a2_fase2 }}
</div>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-prediccion {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}