{{ block title }}
PREDICCIONES
{{ endblock }}

{{ block content }}

<p>
    A continuación, se le solicitará que realice
    dos predicciones sobre las decisiones
    de los otros participantes
    en esta segunda fase.
</p>

<p>
    Si esta parte es seleccionada para el pago,
    usted podrá obtener una ganancia
    en función de la precisión de sus respuestas.
</p>

<h4>Predicción 1</h4>

<p>
    Considerando la situación descripta anteriormente
    (que puede consultar en el botón de ayuda),
    estime qué porcentaje de participantes A
    elegirá <strong>CONTINUAR</strong>
    en esta segunda fase.
</p>

<div class="opciones-prediccion">
    {{ form.creencia_a1_fase2 }}
</div>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-prediccion {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}