{{ block title }}
Predicción 2
{{ endblock }}

{{ block content }}

<p>
    ¿Qué decisión cree usted que tomará
    el participante A?
</p>

<div class="opciones-prediccion">
    {{ form.creencia_b2_fase1 }}
</div>

<p>
    Si su respuesta coincide con lo que
    efectivamente decide el participante A,
    podrá obtener una ganancia de xx.
</p>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-prediccion {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}