{{ block title }}
Predicción 2
{{ endblock }}

{{ block content }}

<p>
    Si esta pregunta es seleccionada para el pago,
    podrá obtener una ganancia dependiendo de la precisión
    de su predicción: si el valor real se encuentra dentro
    del intervalo elegido, recibirá un pago adicional de XXX;
    de lo contrario, no podrá obtener un pago adicional
    por esa estimación.
</p>

<p>
    Como se explicó anteriormente, cada Participante B
    que reciba un monto de dinero por parte de un Participante A,
    una vez duplicado el monto, deberá decidir si transferir
    o no una parte de éste al Participante A.
</p>

<p>
    ¿Qué porcentaje de sujetos B en su sesión cree usted
    que elegirá <strong>COMPARTIR</strong>?
</p>

<div class="opciones-prediccion">
    {{ form.creencia_a2_fase2 }}
</div>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-prediccion {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}