{{ block title }}
Predicción 1
{{ endblock }}

{{ block content }}

<p>
    Considerando la situación descripta anteriormente
    (que puede consultar en el botón de ayuda),
    estime qué porcentaje de participantes A
    elegirá <strong>CONTINUAR</strong>.
</p>

<div class="opciones-prediccion">
    {{ form.creencia_a1_fase2 }}
</div>

<p>
    Si el valor real se encuentra dentro del intervalo elegido,
    recibirá un pago adicional de XXX; de lo contrario,
    no podrá obtener un pago adicional por esa estimación.
</p>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-prediccion {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}