{{ block title }}
Fase 2 - Decisión del Participante A
{{ endblock }}

{{ block content }}

<p>
Usted pertenece ahora al grupo A y ha sido emparejado con un Participante B que aún no ha participado de esta actividad.
</p>

<p>
Ambos poseen en conjunto un monto inicial de <strong>$2</strong>.
</p>

<p>Elija una de las siguientes opciones:</p>

<ul>
    <li>
        <strong>CONTINUAR:</strong> entregarle al Participante B los $2, monto que será duplicado por los organizadores,
        y será decisión de B repartir equitativamente los ahora $4 o quedarse con los $4.
    </li>
    <li>
        <strong>NO CONTINUAR:</strong> finalizar la actividad y repartir el monto en partes iguales, de modo que ambos reciben $1.
    </li>
</ul>

<p>
Si esta parte es seleccionada para el pago, usted recibirá el monto resultante de sus decisiones y de las del participante B correspondiente.
</p>

{{ formfields }}
{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

{{ endblock }}