{{ block title }}
DECISIONES
{{ endblock }}

{{ block content }}

<p>
    Recuerde que su rol en esta etapa
    es el de Participante B
    y ha sido emparejado
    con un Participante A.
</p>

<p>
    Ambos poseen en conjunto
    un monto inicial de $2.
</p>

<p>
    El Participante A ha decidido
    <strong>CONTINUAR</strong> el juego.
</p>

<p>
    Por lo tanto, le ha enviado
    el monto inicial de <strong>$2</strong>,
    el cual ha sido duplicado,
    de modo que usted recibe
    un total de <strong>$4</strong>.
</p>

<p>
    Elija una de las siguientes opciones:
</p>

<ul>
    <li>
        <strong>COMPARTIR:</strong>
        se divide el dinero en partes iguales
        entre ambos, de modo que cada uno
        recibe $2.
    </li>

    <li>
        <strong>NO COMPARTIR:</strong>
        usted se queda con la totalidad,
        de modo que A recibe $0
        y usted recibe $4.
    </li>
</ul>

<p>
    Si esta parte es seleccionada para el pago,
    usted recibirá el monto resultante
    de su decisión.
</p>

<p>
    Elija una de las siguientes opciones:
</p>

<div class="opciones-decision">
    {{ form.decision_b_fase2 }}
</div>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-decision {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}