{{ block title }}
DECISIONES
{{ endblock }}

{{ block content }}

<p>
    Recuerde que su rol en esta etapa
    es el de Participante A
    y ha sido emparejado
    con un Participante B.
</p>

<p>
    Ambos poseen en conjunto
    un monto inicial de $2.
</p>

<p>
    Elija una de estas dos opciones:
</p>

<ul>
    <li>
        <strong>CONTINUAR:</strong>
        entregarle al Participante B los $2,
        monto que será duplicado por el sistema,
        y será decisión de B repartir equitativamente
        los ahora $4
        (tanto A como B reciben $2)
        o quedarse con los $4
        (usted recibe $0).
    </li>

    <li>
        <strong>NO CONTINUAR:</strong>
        finaliza la primera actividad
        y tanto usted como el Participante B
        reciben $1.
    </li>
</ul>

<p>
    Si esta parte es seleccionada para el pago,
    usted recibirá el monto resultante
    de sus decisiones y las del participante B
    correspondiente
    (en caso de elegir la segunda opción).
</p>

<p>
    Elija una de las dos opciones:
</p>

<div class="opciones-decision">
    {{ form.decision_a_fase1 }}
</div>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-decision {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}