{{ block title }}
Instrucciones  
{{ endblock }}

{{ block content }}
<p>
    En esta fase realizará dos tareas:
</p>

<ol>
    <li>Hacer una predicción sobre el desarrollo de la actividad.</li>
    <li>Tomar una decisión.</li>
</ol>

<p>
    Si esta parte es seleccionada para el pago, su ganancia dependerá de su decisión 
    y, si decide continuar, también dependeráde la decisión del <strong>Participante B</strong>.
</p>

{{ next_button }}

<p>
    <em>
        En las pantallas siguientes se le plantearán preguntas en base
        a la situación descripta. De ser necesario tendrá la posibilidad
        de volver a leer la descripción anterior presionando el botón
        de ayuda.
    </em>
</p>

{{ endblock }}