{{ block title }}
Instrucciones
{{ endblock }}

{{ block content }}

<p>
    A usted le ha sido asignado el rol de
    “<strong>Participante A</strong>”
    y ha sido emparejado en forma anónima
    y aleatoria con un
    “<strong>Participante B</strong>”.
</p>

<p>
    En esta fase realizará dos tareas:
</p>

<ol>
    <li>
        Hacer una predicción sobre el desarrollo
        de la actividad.
    </li>

    <li>
        Tomar una decisión.
    </li>
</ol>

<p>
    Si esta parte es seleccionada para el pago,
    su ganancia dependerá de su decisión y,
    si decide continuar, también dependerá
    de la decisión del Participante B.
</p>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

{{ endblock }}