{{ block title }}
Instrucciones
{{ endblock }}

{{ block content }}

<p>
    A usted le ha sido asignado el rol de
    “<strong>Participante B</strong>”
    y ha sido emparejado en forma anónima
    y aleatoria con un
    “<strong>Participante A</strong>”.
</p>

<p>
    En esta fase realizará dos tareas:
</p>

<ol>
    <li>
        Hacer una predicción sobre las acciones
        de los demás participantes.
    </li>

    <li>
        Luego, dependiendo de la decisión
        del Participante A,
        podría tener que tomar una decisión.
    </li>
</ol>

<p>
    Si esta parte es seleccionada para el pago,
    su ganancia dependerá de su decisión
    y de la que previamente haya tomado
    el Participante A.
</p>

{{ next_button }}

{{ endblock }}