{{ block title }}
Fase 2 - Instrucciones para el Participante B
{{ endblock }}

{{ block content }}

<p>
A usted le ha sido asignado el rol de <strong>Participante B</strong> en esta segunda fase.
</p>

<p>
Usted será emparejado con un nuevo Participante A.
</p>

<p>
Dependiendo de la decisión que tome ese participante, la actividad podrá finalizar inmediatamente o bien usted deberá tomar una decisión.
</p>

<ul>
    <li>Si el Participante A decide <strong>NO CONTINUAR</strong>, ambos recibirán la mitad del monto inicial.</li>
    <li>Si el Participante A decide <strong>CONTINUAR</strong>, usted deberá decidir si comparte o no el monto recibido.</li>
</ul>

{{ next_button }}

{{ endblock }}