{{ block title }}
Instrucciones
{{ endblock }}

{{ block content }}

<p>
    En esta fase se le presentará una situación en base a la cual deberá responder un cuestionario, evaluando distintas acciones posibles.
</p>

<p>
    Si esta parte es seleccionada para el pago, obtendrá una ganancia en función de sus respuestas. Dicha retribución monetaria será otorgada por las respuestas que coincidan con la respuesta modal, es decir, por aquellas respuestas elegidas por la mayor cantidad de participantes.
</p>

<p>
    Por lo tanto, usted deberá responder pensando en cómo la mayoría de la gente juzgaría esas acciones y no solo según su opinión personal.
</p>

<h4>Descripción de la situación</h4>

<p>
    Dos personas participan en una actividad. Una de ellas tiene el rol de <strong>Participante A</strong> y la otra el rol de <strong>Participante B</strong>. Ambos poseen en conjunto un monto inicial de <strong>$2</strong>.
</p>

<p>
    El <strong>Participante A</strong> puede elegir:
</p>

<ul>
    <li>
        <strong>NO CONTINUAR:</strong> repartir los $2 entre los participantes A y B, recibiendo cada uno $1.
    </li>
    <li>
        <strong>CONTINUAR:</strong> pasar los $2 al Participante B. La computadora duplicará ese monto a $4 y el Participante B deberá decidir si:
        <ul>
            <li>
                <strong>COMPARTIR</strong> el monto duplicado con el Participante A ($2 para cada uno).
            </li>
            <li>
                <strong>NO COMPARTIR:</strong> quedarse con la totalidad del monto ($4).
            </li>
        </ul>
    </li>
</ul>

<p>
    <em>
        En las pantallas siguientes se le plantearán preguntas en base a la situación descripta. De ser necesario, tendrá la posibilidad de volver a leer la descripción anterior presionando el botón de ayuda.
    </em>
</p>

{{ next_button }}

{{ endblock }}