{{ block title }}
INSTRUCCIONES
{{ endblock }}

{{ block content }}

<p>
    En esta fase, se le asignará aleatoriamente
    el rol de Participante A o Participante B.
    Cada Participante será emparejado
    de forma aleatoria y anónima
    con otro participante de esta sesión
    que desempeñará el rol de Participante B.
    Usted no conocerá la identidad del participante
    con quien se le haya emparejado
    ni durante ni después del estudio,
    y él o ella tampoco conocerá su identidad
    ni durante ni después del estudio.
</p>

<p>
    Cada par de participantes, A y B,
    posee en conjunto un monto inicial de $2.
</p>

<p>
    En un primer momento el Participante A
    debe decidir entre dos opciones:
</p>

<ul>
    <li>
        <strong>NO CONTINUAR:</strong>
        finaliza la actividad y se reparten los $2
        entre los participantes A y B,
        recibiendo cada uno $1.
    </li>

    <li>
        <strong>CONTINUAR:</strong>
        entregarle al Participante B los $2,
        monto que será duplicado por el sistema,
        de modo que el Participante B recibirá $4
        y deberá decidir si:

        <ul>
            <li>
                <strong>COMPARTIR</strong>
                el monto duplicado
                con el Participante A ($2 c/u).
            </li>

            <li>
                <strong>NO COMPARTIR:</strong>
                quedarse con todo (los $4).
            </li>
        </ul>
    </li>
</ul>

{{ next_button }}

{{ endblock }}