{{ block title }}
Fase 2 - Instrucciones para el Participante A
{{ endblock }}

{{ block content }}

<p>
A usted le ha sido asignado el rol de <strong>Participante A</strong>.
</p>

<p>
Esta fase consta de dos partes:
</p>

<ol>
    <li>En la primera deberá realizar predicciones.</li>
    <li>En la segunda deberá tomar una decisión.</li>
</ol>

<p>
Usted será emparejado con un nuevo Participante B, que aún no ha participado en esta actividad.
</p>

<p>
Si esta parte es seleccionada para el pago, la computadora podrá seleccionar aleatoriamente una de sus predicciones para calcular un pago adicional,
según la precisión de su respuesta.
</p>

{{ next_button }}

{{ endblock }}