{{ block title }}
Pregunta 2
{{ endblock }}

{{ block content }}

<p>
Suponga que el Participante A decide <strong>CONTINUAR</strong> participando, es decir, entregar el dinero al Participante B, quien lo recibe duplicado
y puede decidir si devolver algo al Participante A o no.
</p>

<p>
¿En qué medida considerará la mayoría de la gente que la acción del Participante A es socialmente apropiada?
</p>

<p><strong>Escala:</strong></p>
<ul>
    <li>1 = Muy inapropiada</li>
    <li>2 = Algo inapropiada</li>
    <li>3 = Algo apropiada</li>
    <li>4 = Muy apropiada</li>
</ul>

{{ formfields }}
{{ next_button }}

{{ endblock }}