{{ block title }}
Pregunta 1
{{ endblock }}

{{ block content }}

<p>
    Suponga que el Participante A decide
    <strong>NO CONTINUAR</strong>
    participando de la actividad,
    con lo cual el monto inicial se divide
    en partes iguales entre ambos participantes.
</p>

<p>
    ¿En qué medida la mayoría de las personas
    juzgaría socialmente apropiada la acción
    del <strong>Participante A</strong>?
</p>

<div class="opciones-norma">
    {{ form.norma_no_continuar }}
</div>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-norma {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}
