{{ block title }}
Pregunta 2
{{ endblock }}

{{ block content }}

<p>
    Suponga que el Participante A decide
    <strong>CONTINUAR</strong> participando, es decir, entregar el dinero
    al Participante B, quien lo recibe duplicado y puede decidir
    si devolver una parte al Participante A o no. 
</p>

<p>
    ¿En qué medida la mayoría de las personas juzgaría socialmente
    apropiada la acción del <strong>Participante A</strong>?
</p>

<div class="opciones-norma">
    {{ form.norma_continuar_a }}
</div>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-norma {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}