{{ block title }}
Pregunta 3
{{ endblock }}

{{ block content }}

<p>
    Suponga que el Participante A decide
    <strong>CONTINUAR</strong>,
    el monto se transfiere al Participante B
    y este lo recibe duplicado.
</p>

<p>
    Luego, el Participante B decide
    <strong>NO COMPARTIR</strong>,
    es decir, quedarse con todo
    el monto recibido.
</p>

<p>
    ¿En qué medida la mayoría de las personas
    juzgaría socialmente apropiada la acción
    del <strong>Participante B</strong>?
</p>

<div class="opciones-norma">
    {{ form.norma_b_no_compartir }}
</div>

{{ next_button }}

{{ include_sibling 'AyudaJuego.html' }}

<style>
    .opciones-norma {
        margin-bottom: 30px;
    }
</style>

{{ endblock }}
