{{ block title }}
Resultados de la Fase 1
{{ endblock }}

{{ block content }}

<p>{{ mensaje_resultado_fase1 }}</p>

{% if mostrar_detalle_trust %}
    <p>
        Ganancia por sus predicciones en esta fase: <strong>{{ pago_creencias_fase1 }}</strong>
    </p>

    <p>
        Ganancia por la actividad de interacción en esta fase: <strong>{{ pago_fase1 }}</strong>
    </p>
{% else %}
    <p>
        Ganancia por su evaluación respuestas modales en esta fase: <strong>{{ pago_fase1 }}</strong>
    </p>
{% endif %}

{{ next_button }}

{{ endblock }}