{{ block title }}
Inicio de la Fase 2
{{ endblock }}

{{ block content }}

{{ if es_A }}

<p>
    En esta fase se realizará una actividad similar
    a la anterior, pero usted interactuará
    con un nuevo participante.
</p>

<p>
    A continuación, verá el rol que le ha sido asignado
    y las instrucciones correspondientes.
</p>

{{ elif es_B }}

<p>
    En esta fase se realizará una actividad similar
    a la analizada anteriormente.
</p>

<p>
    Sin embargo, en este caso usted formará parte
    de esta actividad de interacción como participante
    y deberá tomar decisiones.
</p>

<p>
    A continuación, verá el rol que le ha sido asignado
    y las instrucciones correspondientes.
</p>

{{ endif }}

{{ next_button }}

{{ endblock }}